<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Pods-AFNetworking.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-ActionSheetPicker-3.0.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-MAThemeKit.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-MYBlurIntroductionView.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-Motis.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-REFrostedViewController.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-REMenu.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-RMMapper.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-SCLAlertView-Objective-C.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-SSKeychain.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-SVProgressHUD.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>096F338AF4811E7B069C6790</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2570C3CF5E1027078CA1827C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BA08F2655CE92E2798D83A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42F7F453AB6B03B475283872</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5204CF749D06AA84B68C1D0E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>69C7D9D17A930422522BC11A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>86467BB0B7109243BD97F871</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5E48EBEB8D516CE23A1D24C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D24727278321E460B5624EDE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E13C87680CA14BAE157B3566</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E16BBC4BEA398397BA1E009A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4054B1CFB8BC6E971105765</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
